
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html{
    scroll-behavior: smooth;
}
body{
    background-color:#FCFCFC;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: white;
    position:fixed;
    z-index: 99;


}


#div-header{
    width: 90vw;
    display:flex;
    justify-content: space-between;
}
#logo img{
    width: 15vw;
    height: 10vh;
}

#menu{
    width: 40%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    padding: 5%;
    color:black;
    cursor: pointer;
}
#div-baner{
    width: 100%;
    height: 80vh;
    background-image: url('../img/div1.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    

}
#conteudo{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding:2%;
    align-items: center;
    
}
#titulo{
    width: 100%;
    display: flex;
    


} 

#titulo img{
    width: 30%;
    height: 40%;
    


}
#conteudo_p {
    width: 90%;
    
padding: 1%;


}

#diretor{
    width: 100%;
    height: 20%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

    
}
#video{
    width: 90%;
    height: 70%;

}
footer{
    background-color: #ffff;
    width: 100%;
    height: 100px;
    display: flex;
      

}
#aluno{
color: black;
display: flex;
width:45%;
height: 90%;
flex-direction: column;
align-items: center;

}

#rede_social{
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;


}
#rede_social img{
    width: 80px;
    height: 80px;
    padding:  5px;
}
#DH{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
#DH p{
    width: 250px;
    font-size: 1rem;
    text-align:center;
}
#DH img{
    width: 130px;
    height: 70px;

  
}


@media (max-width: 992px) and (min-width: 769px){
    header{
        height: 200px;
       
    }
    #logo img{
        width: 140px;
        height: 100px;
        
    }
    nav ul{
    flex-direction: column;
   }
}

@media (max-width: 768px) and (min-width: 427px){
    header{
        height: 200px;
       
    }
    #logo img{
        width: 140px;
        height: 100px;
        
    }
  nav ul{
    flex-direction: column;
}
}

@media (max-width:426px){
    header{
        height: 150px;
       
    }
    #logo img{
        width: 140px;
        height: 100px;
        
    }
 nav ul{
    flex-direction: column;
  }
}